.hero-container {
  position: relative;
  height: 200vh; /* Adjust height as needed */
  overflow: hidden;
  display: flex;
  /* align-items: center;
  justify-content: center;
  text-align: center; */
}
.hero-video-div {
  width: 100px;
  height: 200vh;
}
.background-div-overlay {
  background-color: rgba(0, 0, 0, 200);
  z-index: -3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video-background {
  position: absolute;
  opacity: 0.4;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  /* background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  ); */
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3));
}

.hero-caption {
  /* color: white; Adjust text color */
  z-index: 1;
  display: flex;
  text-align: center;
  align-items: center;
  margin-top: 100px;
  font-size: 45px;
  font-weight: 700;
  width: 50%;
  font-family: Saira, sans-serif;
  line-height: 58px;
  text-transform: uppercase;
  text-size-adjust: 100%;
  text-shadow: rgb(0, 0, 0, 0.42);
  letter-spacing: -2px;
  color: rgb(255, 255, 255);
  position: absolute;
  left: 0px;
  top: 20%;
}

/* .caption-writeup {
  color: black;
  position: absolute;
  top: 65%;
  left: 40px;
  z-index: 1;
  display: flex;
  float: left;
  justify-content: left;
  font-weight: 500;
  color: wheat;
} */
.caption-writeup {
  /* color: black; */
  position: absolute;
  top: 47%;
  left: 50px; /* Increased from 40px to 60px */
  z-index: 1;
  display: flex;
  float: left;
  justify-content: left;
  font-weight: 500;
  color: wheat;
  margin-right: 400px;
}

.btn-btn-navbar {
  border: 1px solid transparent;
  width: 200px;
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
  background: rgb(245, 223, 8);
  position: absolute;
  left: 3%;
  top: 20%;
  font-family: Manrope, sans-serif;
  cursor: pointer;
  font-weight: 400;
  border-radius: 2px;
  color: rgb(31, 31, 33);
  z-index: 1;
  margin-bottom: 500px;
}
.btn-btn-navbar:hover {
  background: lightgray;
}
.whatsapp-img-div {
  position: fixed;
  z-index: 1000;
  top: 60%;
  left: 70px;
  transform: translateX(-50%);
  cursor: pointer;
}
.round-arrow-img-div {
  cursor: pointer;
  position: fixed;
  z-index: 1000;
  top: 60%;
  right: 10px;
  transform: translateX(-50%);
}
.whatsapp-img-size {
  width: 60px;
  height: 60px;
}
.whatsapp-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .hero-container {
    height: 100vh;
  }
  .hero-caption {
    width: 100%;
    display: flex;
    float: left;
    top: 20%;
  }
  .caption-writeup {
    top: 65%;
  }
  .btn-btn-navbar {
    top: 76%;

    display: flex;
    left: 30%;
  }
  .whatsapp-img-div {
    position: fixed;
    z-index: 1000;
    top: 75%;
    left: 70px;
    transform: translateX(-50%);
  }
  .round-arrow-img-div {
    position: fixed;
    z-index: 1000;
    top: 75%;
    right: 10px;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 480px) {
  .hero-caption {
    width: 100%;
    display: flex;
    float: left;
    top: 20%;
    font-size: xx-large;
    line-height: 50px;
  }
  .caption-writeup {
    top: 55%;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .btn-btn-navbar {
    top: 65%;

    display: flex;
    left: 20%;
  }

  .video-background {
    margin-top: -60px;
    height: 120vh;
  }
  .video-background2 {
    margin-top: -60px;
    height: 120vh;
  }
  .whatsapp-img-div {
    position: fixed;
    z-index: 1000;
    top: 72%;
    left: 70px;
    transform: translateX(-50%);
  }
  .round-arrow-img-div {
    position: fixed;
    z-index: 1000;
    top: 72%;
    right: 10px;
    transform: translateX(-50%);
  }
}
/* @media screen and (min-width: 460px) {
  .hero-caption {
    width: 100%;
    display: flex;
    float: left;
    top: 20%;
    font-size: xx-large;
    line-height: 50px;
  }
  .caption-writeup {
    top: 68%;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .btn-btn-navbar {
    top: 80%;

    display: flex;
    left: 20%;
  }
} */
