.Services-main-div {
  background: rgba(59, 71, 83);
  height: auto;
  margin-top: 10px;

  color: rgb(31, 31, 33);
}
.Services-div-dsiplay {
  display: flex;
  justify-content: space-between;

  margin-left: auto;
  margin-right: auto;
  width: 95%;
  padding-top: 30px;
  padding-bottom: 30px;
  gap: 50px;
}
.Service-first-div {
  width: 50%;
}
.Service-div-second {
  width: 50%;
  color: rgb(239, 239, 239);
}
.sectors-we-serve {
  color: rgb(238, 217, 24);
  font-size: large;
  font-weight: 500;
}
.dedicate {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 32px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  color: rgb(255, 255, 255);
}
.service-hr {
  background: rgb(238, 217, 24);
  width: 200px;
  height: 1vh;
  margin-bottom: 30px;
}
.Service-disover-border {
  background: rgb(245, 223, 8);
  border: 1px solid transparent;
  width: 200px;
  height: 50px;
  align-items: center;
  display: flex;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  color: rgb(31, 31, 33);
  font-size: medium;
  font-weight: 500;
  border-radius: 4px;
}
.writeup {
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}
.Service-disover-border:hover {
  background: lightblue;
}
.service-img-display-div {
  display: flex;

  gap: 5px;
  margin-top: 20px;
}
.closed-img-div {
  width: 800px;
  height: 200px;
}
.service-mode-pix {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}
.border-twenty {
  border: 1px solid transparent;
  background: rgb(239, 239, 239);
  position: relative;
  top: -30px;
  width: 180px;
  height: 90px;
  border-radius: 4px;
  justify-content: center;
  display: block;
  align-items: center;
  text-align: center;
  color: rgb(31, 31, 33);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.border-twenty-three {
  color: rgb(245, 223, 8);
  font-size: 45px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: 700;
  margin-top: 10px;
}
.experience {
  font-size: 14px;
  font-weight: 700;
}
/* ///second phase border */

/* ////// */
@media screen and (max-width: 768px) {
  .Services-div-dsiplay {
    flex-wrap: wrap;
  }
  .Service-first-div {
    width: 100%;
  }
  .Service-div-second {
    width: 100%;
  }
  .service-img-display-div {
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .closed-img-div {
    width: 450px;
  }
  .border-twenty {
    position: relative;
    top: -36%;
    left: 28.4%;
  }
}
@media screen and (max-width: 480px) {
  .border-twenty {
    position: relative;
    top: -34%;
    left: 24%;
  }
  .dedicate {
    font-size: 25px;
  }
}
